<main class="container border-box">
  <div class="c-news">
    <label class="c-news-label">
      活動消息：
    </label>
    <div class="c-news-container">
      活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息
    </div>
  </div>
  <div class="c-brand">
    <div class="c-brand-item">
      <label>一般股東</label>
    </div>
    <div class="c-brand-item">
      <label>發行公司、服務代理機構</label>
    </div>
    <div class="c-brand-item">
      <label>專業機構法人</label>
    </div>
  </div>
  <div class="c-begin">
    <div class="c-begin-item">
      <a href="#">新手上路</a>
    </div>
    <div class="c-begin-item">
      <a href="#">首次使用設定</a>
    </div>
  </div>

  <app-meetings></app-meetings>

  <div class="c-link">
    <div class="c-link-otherlinks">
      <button class="c-link-otherlinks-item">公開資訊觀測站</button>
      <button class="c-link-otherlinks-item">股東會法規查詢</button>
      <button class="c-link-otherlinks-item">股務機構查詢</button>
      <button class="c-link-otherlinks-item">股東e票通APP安裝</button>
      <button class="c-link-otherlinks-item">股東會電子投票專區</button>
      <button class="c-link-otherlinks-item">股東e票通抽獎活動</button>
    </div>
    <div class="c-link-relative">
      <div class="c-link-relativetitle">
        <h4>相關網站</h4>
        <a href="#">more</a>
      </div>
      <ul class="c-link-relativelinks">
        <li><a href="#">金融監督管理委員會</a></li>
        <li><a href="#">台灣證券交易所</a></li>
        <li><a href="#">台灣期貨交易所</a></li>
        <li><a href="#">證券櫃檯買賣中心</a></li>
        <li><a href="#">台灣集保結算所</a></li>
      </ul>
    </div>
  </div>
</main>
