<header
  [ngStyle]="{
    'background-color': BgColor,
    'justify-content': JusContent
  }"
>
  <div class="header-logo" *ngIf="!isMobile || !isTerms">
    <a [routerLink]="['/']"><img src="{{ logoUrl }}"/></a>
  </div>
  <div class="header-user" *ngIf="isLogin">
    <p>您好，歡迎使用「股東e票通」<br />身分證字號：{{ userid | mask }}</p>
  </div>
  <div class="header-terms" *ngIf="isTerms">
    <p>法規條款</p>
  </div>
  <label class="menu-button" for="menu-open" *ngIf="!isTerms">
    <span class="menu-button-lines menu-button-lines-1"></span>
    <span class="menu-button-lines"></span>
    <span class="menu-button-lines menu-button-lines-3"></span>
  </label>
  <input type="checkbox" id="menu-open" />
  <nav *ngIf="!isTerms">
    <ul>
      <li><a [routerLink]="['/']">首頁</a></li>
      <li><a href="#">關於我們</a></li>
      <li><a href="#">活動消息</a></li>
      <li><a href="#">參加發行公司</a></li>
      <li><a href="#">Ｑ＆Ａ</a></li>
      <li><a href="#">聯絡我們</a></li>
      <li *ngIf="!isLogin"><a [routerLink]="['/', 'login']">登入</a></li>
      <li *ngIf="isLogin"><a (click)="Logout()">登出</a></li>
    </ul>
  </nav>
</header>
