<main class="l-content m">
    <h2>使用者登入</h2>
    <div>
        <div class="l-tag">
            <button class="l-tag-item m">發行公司．股務代理機構</button>
        </div>
        <div class="l-form m">
            <div class="l-field">
                <label class="l-fieldname">單位代號：</label>
                <input class="l-fielddata" />
            </div>
            <div class="l-field">
                <label class="l-fieldname">憑證種類：</label>
                <select class="l-fielddata ">
                        <option>ss</option>
                        <option>aa</option>
                    </select>
            </div>
            <div class="l-field">
                <label class="l-fieldname">使用者帳號：</label>
                <input class="l-fielddata" />
            </div>
            <div class="l-field">
                <label class="l-fieldname">使用者密碼：</label>
                <input class="l-fielddata" />
            </div>
            <button class=" l-btn" onclick="javascript:location.href='terms.html'">登入</button>
        </div>
    </div>
    <button class=" l-btn">資料下載</button>
</main>